SECRET_KEY=troque-esta-chave
DEBUG=False

ALLOWED_HOSTS=seudominio.com.br,www.seudominio.com.br,IP_DA_VPS
CSRF_TRUSTED_ORIGINS=https://seudominio.com.br,https://www.seudominio.com.br

DB_NAME=controle_empenhos
DB_USER=usuario_do_banco
DB_PASSWORD=senha_do_banco
DB_HOST=localhost
DB_PORT=5432

SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000